$color-1: #12343b;
$color-2: linear-gradient(to right bottom, #e1b382, #c89666);
$color-3: linear-gradient(
  to top right,
  rgba(38, 153, 205, 1),
  rgba(8, 163, 24, 1)
);
$color-4: rgba(50, 205, 50);
$color-5: linear-gradient(
  to top right,
  rgba(70, 132, 18, 1),
  rgba(15, 76, 53, 1)
);

$color-6: #34495e;
$color-7: #b2e5ce;

.container {
  background: $color-2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: $color-1;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
