.modal {
  width: 600px;
  position: fixed;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  top: 23%;
  right: 29.5%;
  z-index: 5;

  &_container {
    width: 500px;
    height: 300px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: $color-5;
  }

  &_title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 30px;
  }

  &_titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }

  &_titleCloseBtn a {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: red;
  }

  &_description {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: white;
  }
}
