.todo {
  &_title {
    color: white;
    font-size: 28px;
    margin: 30px 0;
    text-align: center;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    color: white;
    background: $color-3;
  }
}
